@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Архив погоды</h1>
    <p>Загрузка архивов погоды в формате Excel и просмотр списка загруженных архивов</a>.</p>
</div>
